<div class="imageoverlay">
  <img src="assets/images/banner.jpg" class="img-rounded" alt="Cinque Terre" width="1140" height="100">
</div>

{{!<div class="imagetext">
  <h1>Web Design Posts</h1>
</div>

<br/><br/>
<p>This Category is dedicated to making this very website using ember</p>
<br><br><br>

}}


{{outlet}}
{{#each model as |blogpost|}}
  <div class="jumbotron text-center">
    {{#link-to 'category1.editblog' blogpost.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
    <button class="btn btn-danger btn-xs" {{action 'deleteBlog' this.blogpost.id}}>Delete</button>
    <hr class="my-4">
    <h1><a href = {{blogpost.id}} {{action "showModal" blogpost.title blogpost.content}}>{{blogpost.title}}</a></h1>
    <h2>{{blogpost.id}}</h2>
    {{#if isShowingModal}}
      {{#modal-dialog onClose="hideModal" targetAttachment="center" translucentOverlay=true}}
        <div class="jumbotron text-center">
          <h1>{{title}}</h1>
          <hr class="my-4">
          <p>{{content}}</p>
        </div>
      {{/modal-dialog}}
    {{/if}}
    <hr class="my-4">
    <p>{{blogpost.content}}</p>
  </div>
{{/each}}
